<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500 - Server Error</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <%- include("_header.ejs") %>
    <main> 
        <h1>500 - Server Error</h1>
        <p>Server unable to respond. If this persists , contact admin</p>
    </main>
    
  </body>
</html>
