<header>
    <a href="/">Nganya</a>

    <nav>
        <a href="/vehicles">Vehicles</a>
        <a href="/drivers">Drivers</a>
        <a href="/trips">Trips</a>
        <a href="/signin">Sign In</a>
    </nav>
</header>