<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nganya Sacco</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <%- include("_header.ejs") %>
    <main>
        <section class="hero">
           <h1>Nganya Sacco Managemet System</h1>
            <p>Wabebe!!!!! Utumishi kwa wote</p>
        </section>
        <section class="recent-trips">
          <h2>Recent Trips</h2>
        </section>
    </main>
   
  </body>
</html>
